.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background: #1d4ed8;
  color: white;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background: #1e40af;
}

a {
  display: block;
  margin-top: 10px;
  color: #1d4ed8;
  text-decoration: none;
}

.message {
  color: green;
  margin-bottom: 10px;
  font-weight: bold;
}